{% extends 'layout.html' %} {% block body %} {%- for category, message in
get_flashed_messages(with_categories = true) %}
<div class="alert alert-success">{{ message }}</div>
{%- endfor %}

<div class="container col-md-10 border bg-light">
	<div class="d-flex py-1 flex-column justify-content-between">
		<div
			class="d-flex my-4 flex-row w-100 justify-content-between flex-wrap align-items-between"
		>
			<!-- <h1>{{applicant['applicant_name']}}</h1> -->
			<h4>
				<span class="font-weight-light text-info">Username:</span
				>{{applicant['username']}}
			</h4>
			<h4>
				<span class="font-weight-light text-info">ID:</span
				>{{applicant['applicant_id']}}
			</h4>
			<h4>
				<span class="font-weight-light text-info">Email:</span
				>{{applicant['applicant_email']}}
			</h4>
		</div>
		<div class="d-flex my-4 flex-column w-100 align-items-start">
			<h5 class="muted-text text-dark medium">
				<span class="font-weight-light text-info">Mob:</span>
				{{applicant['applicant_number']}}
			</h5>
			<h5 class="muted-text text-dark medium">
				<span class="font-weight-light text-info">DOB:</span>
				{{applicant['applicant_dob']}}
			</h5>
			<h5 class="muted-text text-dark medium">
				<span class="font-weight-light text-info">Location:</span>
				{{applicant['applicant_location']}}
			</h5>
		</div>
	</div>
	<div>
		{% for application in applications %}
		<div class="border m-3 p-4">
			<p>{{ application['applicant_id']}}</p>
			<p>{{ application['company']['company_name'] }}</p>
			<p>{{ application['applicant_skill']}}</p>
			<p>{{ application['application_status']}}</p>
		</div>
		{% endfor %}

		<h1>Interviews</h1>
		{% for interview in interviews %}
		<div class="border m-3 p-4">
			<p>{{ interview['company']['company_name']}}</p>
			<p>{{ interview['interview_date'] }}</p>
			<p>{{ interview['interviewer']}}</p>
			<p>{{ interview['interview_details']}}</p>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
