{% extends 'layout.html' %}

{% block body %}
	
	{%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-success">
            {{ message }}
         </div>
    {%- endfor %}

    <div class="container">
    	
        <h1>{{applicant['username']}}</h1>
        <h3>{{applicant['applicant_name']}}</h3>
        <h3>{{applicant['applicant_email']}}</h3>
        <h3>{{applicant['applicant_number']}}</h3>
        <h3>{{applicant['applicant_dob']}}</h3>
        <h3>{{applicant['applicant_location']}}</h3>


        

    </div>
    

{% endblock %}
