{% extends 'layout.html' %} {% block body %} {%- for category, message in
get_flashed_messages(with_categories = true) %}
<div class="alert alert-success">{{ message }}</div>
{%- endfor %}

<div class="container">
    <h1>{{company['username']}}</h1>
    <h3>{{company['company_name']}}</h3>
    <h3>{{company['company_email']}}</h3>
    <h3>{{company['company_id']}}</h3>
    <h3>{{company['company_vacancies']}}</h3>

    <div>
    	<h1>Applications</h1>
    	{% for application in applications %}
    		<div class="border m-3 p-4">
    			<p>{{ application['applicant_id']}}</p>
    			<p>{{ application['applicant']['applicant_name'] }}</p>
    			<p>{{ application['skills']}}</p>
    			<p>{{ application['applicant']['applicant_location']}}</p>
    			<p>{{ application['post_id']}}</p>	

    		</div>
    		
    	{% endfor %}
    </div>
</div>

{% endblock %}
