{% extends 'layout.html' %} {% block body %}
<div class="container col-12 col-md-8 m-0">
	<!-- The Modal -->
	<div class="modal" id="myModal">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header d-flex ">
					<h1 class="modal-title">Application</h1>
					<h3>Company: <span id='company_id'></span></h3>
					
					<button type="button" class="close" data-dismiss="modal">
						×
					</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					

					
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-danger"
						data-dismiss="modal"
					>
						Close
					</button>
				</div>
			</div>
		</div>
	</div>

	<button
		type="button"
		class="btn btn-primary d-none"
		data-toggle="modal"
		data-target="#myModal"
		id='modal_buton'
	>
		Open modal
	</button>
	{% for post in posts%}

	<div class="p-4 m-1 mb-3 col-12 d-flex flex-column border">
		<div class="d-flex text_medium h4 justify-content-between m-0 flex-row">
			<div class="company_name text-danger">
				{{ post['company_name'] }}
			</div>
		</div>
		<p class="text-muted font-weight-light m-1 text-secondary">
			Date Posted: 12-Oct-20
		</p>
		<div class="post_details m-0">
			<hr />
			<div class="job_title p-0 text-dark text_medium h5">
				Job Title:
				<strong class="text-info">{{ post['job_type'] }}</strong>
			</div>
			<div class="post_content p-2 pl-4 text-left">
				{{ post['job_description'] }}
			</div>
			<hr />
			<div
				class="d-flex justify-content-between align-items-end flex-column"
			>
				<a
					href="mailto?:{{ post['company_email' ]}}"
					class="company_email m-2"
					>Email</a
				>
			</div>
		</div>
		{% if 'user' in session %}
		<button class="btn btn-outline-success" onclick='getData( "{{post}}" )'>
			Apply
		</button>
		{% else %}
		<a class="btn btn-outline-info" href="{{ url_for('login') }}"
			>Login to Apply</a
		>
		{% endif %}
	</div>

	{% endfor %}
</div>
<script type="text/javascript">
	function getData(post) {
		post = JSON.parse(post.replace(/'/g,`"`));
		document.getElementById('modal_buton').click()
		console.log(post)
	}
</script>

{% endblock %}
