<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		/>
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/a076d05399.js"></script>
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
			rel="stylesheet"
		/>
		<style type="text/css">
			.text_medium {
				font-weight: 500;
			}
		</style>
		<title>Document</title>
	</head>

	<body>
		<div class="container"></div>
		<div
			class="p-2 m-1 mb-3 col-lg-4 col-md-6 col-12 d-flex flex-column border"
		>
			<div
				class="d-flex text_medium h4 justify-content-between m-0 flex-row"
			>
				<div class="company_name text-danger">Xamplan</div>
			</div>
			<p class="text-muted font-weight-light m-1 text-secondary">
				Date Posted: 12-Oct-20
			</p>
			<div class="post_details m-0">
				<hr />
				<div class="job_title p-0 text-dark text_medium h5">
					Job Title: <strong class="text-info">ABC</strong>
				</div>
				<div class="post_content p-2 pl-4">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Perspiciatis delectus, aliquam dicta modi aut rem. Nisi
					molestias, quas amet, quisquam incidunt vel nobis beatae ea
					sunt dignissimos aliquam asperiores corrupti modi! Porro,
					numquam. Accusamus unde laborum nisi. Eius, maiores, quas.
				</div>
				<hr />
				<div
					class="d-flex justify-content-between align-items-end flex-column"
				>
					<a href="tel?:9838492435" class="_contact">Contact</a>
					<a href="mailto?:xamplan@xamplan.com" class="company_email"
						>Email</a
					>
				</div>
			</div>
			<button class="btn btn-outline-success">Apply</button>
		</div>
	</body>
</html>
